<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
        <link rel="icon" href="/img/weather.png">

  </head>
  <body>
    <div class="main-content">
           {{>header}}
           <p>This site was created by Abhishek Prajapat. It uses data from mapbox and darksky respectively.</p>
       <img src="/img/DP.jpg" class="portrait"/>
    </div>
       {{>footer}}
  </body>
</html>
